/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* @formatter:off */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block;}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* @formatter:on */

html {
    font-size: 1.125em; /* 18px / 16pt = 1.125 */
    line-height: 1.222em; /* 22pt / 18em = 1.2~ */
    background-color: pink;
}

a:active {
    color: brown;
}

body {
    font-family: 'Ubuntu', sans-serif;
}

form {
    display: inline-block;
}

h1, h2, h3, h4, h5, h6, p {
    padding-bottom: 1.222em; /* 22 / 18 = 1.2~ */
}

h1 {
    font-size: 2.369em; /* 42.635 / 18 = 2.369 */
    line-height: 1.032em; /* 44 / 42.635 = 1.032 */
    padding-bottom: 0.516em; /* 22 / 42.635 = 0.516 */
}

h2 {
    font-size: 1.777em; /* 31.984 / 18 = 1.777 */
    line-height: 1.032em; /* 33 / 31.984 = 1.032 */
    padding-bottom: 0.325em;
}

h3 {
    font-weight: bold;
}

ol, ul {
    padding-bottom: 0.611em; /* 11 / 18 = 0.61~ */
    padding-left: 0.611em;
}

ol {
    list-style-type: decimal;
}

ul {
    list-style-type: square;
}

li ol,
li ul {
    padding-top: 0.611em; /* 11 / 18 = 0.61~ */
    padding-left: 1.222em; /* 22 / 18 = 1.2~ */
    padding-bottom: 0;
}

li ol {
    list-style-type: lower-alpha;
}

li li ol {
    list-style-type: lower-roman;
}

li {
    padding-bottom: 0.611em; /* 11 / 22 = 0.6111111 */
}

li li:last-child {
    padding-bottom: 0;
}

section, aside {
    padding: 0.611em;
}

img {
    max-width: -webkit-fill-available;
    height: auto;
}

.video {
    width: 50vw;
    height: 33vw;
}

.videos {
    display: inline-block;
}

.gallery {
    /* Prevent vertical gaps */
    line-height: 0;

    -webkit-column-count: 5;
    -webkit-column-gap: 0;

    -moz-column-count: 5;
    -moz-column-gap: 0;

    column-count: 5;
    column-gap: 0;
}

.gallery img {
    /* Just in case there are inline attributes */
    width: 100% !important;
    height: auto !important;
}

@media (max-width: 1200px) {
    .gallery {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}

@media (max-width: 1000px) {
    .gallery {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

@media (max-width: 800px) {
    .gallery {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media (max-width: 400px) {
    .gallery {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}

.gallery img {
    /* Just in case there are inline attributes */
    width: 100% !important;
    height: auto !important;
}