#toc h1, #toc h2 {
    text-align: center;
}

#toc ul {
    width: 100%;
    padding: 0;
}

#toc li {
    list-style-type: none;
    padding: 0;
}

#toc a {
    width: 100%;
    height: 1.5em;
    display: block;
    text-align: center;
    font-size: 2em;
    padding-top: 0.6111em;
}

#toc a:hover {
    background-color: cadetblue;
}